.home-page {
  font-family: "orbitron";
  height: 95vh;
}
.nav-bar {
  margin-left: 10%;
  padding-top: 2%;
  p {
    padding-right: 30px;
    font-size: x-large;
  }
}
.pointer {
  cursor: pointer;
}
.body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  ::-webkit-scrollbar {
    display: none;
  }
  .title-parent {
    p {
      text-align: center;
      font-size: 100px;
      font-weight: bolder;
    }
  }

  .image-parent {
    height: 600px;

    overflow: auto;
    scroll-behavior: smooth; /* <-- for smooth scroll */
    .image {
      width: 45vw;
      height: 2300px;
    }
  }
}
.row {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}
.white-bg {
  color: white;
}

@media screen and (max-width: 920px) {
  .row {
    justify-content: center;
  }
  .home-page {
    height: 100vh;
  }
  .body {
    margin-top: -20px;
    flex-direction: column;
    .title-parent {
      p {
        font-size: 50px;
      }
    }
    .image-parent {
      height: 60vh;
      .image {
        width: 100%;
        height: 1800px;
      }
    }
  }
}
